.ChatMain
  .ChatMain__header
    .ChatMain__header__left-box
      %h2.ChatMain__header__left-box__current-group
        testのグループ
      %ul.ChatMain__header__left-box__member-list
        Member：
        %li.ChatMain__header__left-box__member-list__member NAME
    =link_to "#", class: " " do
      .ChatMain__header__edit-btn Edit

  .ChatMain__messages
    = render @messages

  .ChatMain__form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'ChatMain__form__new_message__input-box__text', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'ChatMain__form__new_message__input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'ChatMain__form__submit-btn'