.ChatMain
  .ChatMain__header
    .ChatMain__header__left-box
      %h2.ChatMain__header__left-box__current-group 
        = @group.name
      %ul.ChatMain__header__left-box__member-list
        Member: 
        - @group.users.each do |user|          
          = user.name
        %li.ChatMain__header__left-box__member-list__member
    =link_to edit_group_path(@group), class: " " do
      .ChatMain__header__edit-btn Edit

  .ChatMain__messages
    = render partial: 'messages/message', collection: @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

